body {
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Video container */
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(225, 225, 225, 0.1);
}

/* Video stili */
.video-container video {
    width: 100%;
    display: block;
    border-radius: 10px;
}