<!-- The Contact Section -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">İLETİŞİM</h2>
    <p class="w3-opacity w3-center"><i>Bizimle İletişime Geçin.</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> İstanbul, Türkiye<br>
            <i class="fa fa-phone" style="width:30px"></i> Tel.: +90 224 225 41 60 <br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: iletisim@okudoki.com<br>
        </div>
        <div class="w3-col m6">
            <!-- Form güncellendi -->
            <form id="contactForm" onsubmit="event.preventDefault(); showMessage();">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border"
                               type="text"
                               placeholder="Ad"
                               name="Name"
                               minlength="2"
                               required>
                    </div>
                    <div class="w3-half">
                        <input class="w3-input w3-border"
                               type="email"
                               placeholder="Email"
                               name="Email"
                               required>
                    </div>
                </div>
                <input class="w3-input w3-border"
                       type="text"
                       placeholder="Mesaj"
                       name="Message"
                       minlength="10"
                       required>

                <!-- Hata mesajı -->
                <div id="errorMessage" class="w3-panel w3-red w3-padding" style="display:none; margin-top: 20px;">
                </div>

                <!-- Başarı mesajı -->
                <div id="messageBox" class="w3-panel w3-green w3-padding" style="display:none; margin-top: 20px;">
                    Teşekkürler! Mesajınız gönderildi.
                </div>
                <div class="w3-row-padding" style="margin-top: 20px;">
                  <div class="w3-right">
                      <!-- Submit butonu -->
                      <button class="w3-button w3-black w3-margin-right" type="submit">
                          GÖNDER
                      </button>
                      <!-- Mesajlar sayfasına yönlendir -->
                      <a href="pages/messages.html" class="w3-button w3-black">
                          <i class="fa fa-envelope"></i> Gelen Mesajları Görüntüle
                      </a>
                  </div>
              </div>
            </form>
        </div>
    </div>
  </div>