<!-- Footer Bölümü -->
<footer class="w3-container w3-padding-32 w3-center w3-black">
    <div class="w3-xlarge w3-padding-16">
        <!-- Sosyal Medya Yönlendirme Linklerimiz -->
        <a href="https://www.instagram.com/recepenskaya/" target="_blank" rel="noopener noreferrer" class="w3-hover-opacity">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://github.com/rkaya21" target="_blank" rel="noopener noreferrer" class="w3-hover-opacity">
            <i class="fa fa-github"></i>
        </a>
        <a href="https://medium.com/@recepenskaya" target="_blank" rel="noopener noreferrer" class="w3-hover-opacity">
            <i class="fa fa-medium"></i>
        </a>
        <a href="https://www.linkedin.com/in/recep-enes-kaya-a89208231/" target="_blank" rel="noopener noreferrer" class="w3-hover-opacity">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>
    <p class="w3-medium">
        &copy; 2024 Okudoki | Tüm Hakları Saklıdır
    </p>
</footer>

<script>
function toggleMenu() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

window.onclick = function(event) {
    var modals = document.getElementsByClassName('modal');
    for (var i = 0; i < modals.length; i++) {
        if (event.target == modals[i]) {
            modals[i].style.display = "none";
        }
    }
}

document.addEventListener('DOMContentLoaded', function() {
    window.onscroll = function() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.querySelector(".w3-top").style.background = "rgba(0,0,0,0.9)";
        } else {
            document.querySelector(".w3-top").style.background = "black";
        }
    };
});
</script>