<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <!-- Mobil Hamburger Menü -->
        <!-- myFunction() fonksiyonu main.js icinde tanımlı-->
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large hamburger"
           onclick="myFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <!--  Menü Öğeleri -->
        <div class="w3-hide-small menu-items">
            <a href="../index.html" class="w3-bar-item w3-button w3-padding-large">ANASAYFA</a>
            <a href="#band" class="w3-bar-item w3-button w3-padding-large">HAKKIMIZDA</a>
            <a href="#tour" class="w3-bar-item w3-button w3-padding-large">KÖŞEMİZ</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large">İLETİŞİM</a>
        </div>

        <!-- Arama Kutusu -->
        <div class="w3-bar-item w3-right search-container">
            <form onsubmit="event.preventDefault();">
                <input type="text"
                       id="searchBox"
                       class="w3-input w3-white"
                       placeholder="Kitap veya yazar ara..."
                       oninput="searchBooks(event)">
                <button class="w3-button w3-black">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <div id="results"></div>
        </div>
    </div>

    <!-- Mobil Menü -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
        <a href="../index.html" class="w3-bar-item w3-button w3-padding-large">ANASAYFA</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large">HAKKIMIZDA</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large">KÖŞEMİZ</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large">İLETİŞİM</a>
    </div>
</div>